/* Formatting and styles for header and text content on main html index page*/
.title {
    text-align: center;
    margin-top: 50px;
    font-size: 90px;
    font-family: 'Oswald', sans-serif;
}
.tutorial {
    text-align: center;
    margin-top: 75px;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 20px;
}   
b {
    font-size: 30px;
    color: red;
    font-family: 'Oswald', sans-serif;
}
/* Formatting and styling for Quiz */
.questionText {
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 100px;
    font-size: 27px;
}
.questionAnswers {
    margin-top: 30px;
    margin-left: 200px;
}
#timeLeft {
    text-align: center;
    margin-top: 50px;
    color: rgb(247, 44, 8);
}











